<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AllegroFinder.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <userSettings>
        <AllegroFinder.AppSettings>
            <setting name="CheckInterval" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Login" serializeAs="String">
                <value>AllegroLogin</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>AllegroPassword</value>
            </setting>
            <setting name="ApiKey" serializeAs="String">
                <value>API_KEY</value>
            </setting>
            <setting name="SearchCategory" serializeAs="String">
                <value>CATEGORY_ID</value>
            </setting>
        </AllegroFinder.AppSettings>
    </userSettings>
</configuration>
